@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

/* HEADER */

header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  border-radius: 0px 0px 20px 20px;
  z-index: 2;
  
}

.search input{

    background-color: black;
    color: #ffffff;
    border: none;


}

.header_haut {

  
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;

}



.droite{
  display: flex;
  
}

select{

  color: white;
  background-color: black;
  border: none;
  margin-top: -45px;

}


  /* billet header */

  .billeterie_header{

    display: flex;
    border: none;
    outline: none;
    margin-top: 0px;
    border-radius: 8px;
    background: var(--or, #AB721C); 
    width: 230px;
    height: 62px;
    justify-content: center;
    align-items: center;
    padding: 10px 19px 10px 10px; 
    flex-shrink: 0; 
    color: #FFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: 400; 
    text-decoration: none;
    text-emphasis: none;
    transition: text-decoration 0.25s;
}

.billeterie_header img{
    width: 39px;
    height: 39px;
    margin-left: 15px; 
}
.billeterie_header:hover{
    font-size: bold;
    background-color: #8e5e18;
    transition: transform .3s ease;
}

.billeterie_carroussel{
    position: absolute;
    z-index: 3;
    display: flex;
    border: none;
    outline: none;
    margin-top: 0px;
    border-radius: 8px;
    background: var(--or, #AB721C); 
    width: 230px;
    height: 62px;
    justify-content: center;
    align-items: center;
    padding: 10px 19px 10px 10px; 
    flex-shrink: 0; 
    color: #FFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: 400; 
    text-decoration: none;
    text-emphasis: none;
    transition: text-decoration 0.25s;
}

.billeterie_carroussel img{
    width: 39px;
    height: 39px;
    margin-left: 15px; 
}
.billeterie_carroussel:hover{
    font-size: bold;
    background-color: #8e5e18;
    transition: transform .3s ease;
}




.horaire{
    position: relative;
    color: #FFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
    bottom: 2rem;
    margin-left: 2.5%;
    z-index: 2;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.25s;
}
.horaire img{
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 1.6rem;
}
.horaire:hover{
    font-size: bold;
    color: white;
    text-decoration-color: white;
}
.nbr_page{  /*en bas à droite le nombre de page en faible opacité*/ 
    position: absolute;
    right: 1rem;
    bottom: -1.6rem;
    font-size: 30px;
    color: white;
    background-color: rgb(122, 122, 122);
    text-align: center;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    opacity:70%;    
}
.nbr_page:hover{
    font-size: bold;
    opacity: 100%;
    transition: transform .3s ease;
}       /*pour augmenter l'opacité lorsque le curseur touche le nbr_page*/

  /* menu navigation */

  nav ul{
    display: flex;
    justify-content: space-between;
  }

  nav a{
    color : white;
    margin-left: 60px;
    margin-right: 60px;
    text-decoration: none;    
  }

  .splide__slide{
    height:  30rem;
    
  }

  .splide{
    position: relative;
    display: flex;
    margin-top: -20px;
    z-index: 1;


  }

/* billet sur le swipper / carousselle  */

.billeterie{
   position: absolute;
   display: flex;

}

strong {
   font-weight: 700;
}

.wight {
   color: #FFF;
   margin-bottom: 40px;
}

/* TITRES / TEXTEs*/

  /*Titre H1*/
  h1{
    font-family: 'Bebas Neue';
    font-size: 71px;
    font-weight: 400;
    margin-top: 127px;
    margin-bottom: 109px;
  }

  /*Titre H2*/
  h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 64px;
    font-weight: 400;
  }


  /*Titre H3*/
  h3{
    font-family: 'Bebas Neue';
    font-size: 45px;
    font-weight: 400;
    
  }


  /*Titre H4*/
  h4 {
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 600;
  }

  /*Titre H5*/
  h5 {
    font-family: 'Roboto Flex';
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
  }


  /*Paragraphes*/
  p{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
  }

   /*Responsive*/
@media screen and (max-width: 960px) {
   h1 {
       font-size: 30px;
   }
   h2 {
       font-size: 25px;
   }
   h3 {
       font-size: 20px;
   }
   h4 {
       font-size: 13px;
   }
   p {
       font-size: 14px;
   }
} 




                                       

/* INTRODUCTION */

     /*container intro*/
    .container-intro {
      max-width : 960px;
      margin-left : auto;
      margin-right : auto;
      padding-right: 186px;
      padding-left : 186px;
    }



    @media screen and  (max-width: 768px) {
      .container-intro {
        padding-right: 8px;
        padding-left : 8px;
      }
    
    }

    .introduction {
      margin-bottom: 118px;
      line-height: 45px;
    }

/*A LA UNE"*/

h2{
  text-align: center;
  padding: 0rem 0rem 15rem 0rem ;
  font-size: 62px;
 

}


#carousel {
  position: relative;
  height: 50rem;
  margin-top: 25%;
  transform: translateY(-50%);
  overflow: hidden; 
}
  #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1; 
  }
    #carousel div img {
     
      height: 37.5rem;
      width: 37.5rem;
      border-radius: 0.5rem;
      transition: 1s; 
  }
    #carousel div.hideLeft {
      left: 0%;
      opacity: 0;
      transform: translateY(50%) translateX(-50%); 
  }
      #carousel div.hideLeft img {
        width: 200px; 
      }
    #carousel div.hideRight {
      left: 100%;
      opacity: 0;
      transform: translateY(50%) translateX(-50%); 
  }
      #carousel div.hideRight img {
        width: 200px; 
      }
    #carousel div.prev {
      z-index: 5;
      left: 30%;
      transform: translateY(50px) translateX(-10%); 
  }
      #carousel div.prev img {
        width: 500px; 
      }
    #carousel div.prevLeftSecond {
      z-index: 4;
      left: 13%;
      transform: translateY(50%) translateX(40%);
      opacity: .7; 
  }
      #carousel div.prevLeftSecond img {
        width: 400px; 
        height: 400px;
      }
    #carousel div.selected {
      z-index: 10;
      left: 50%;
      transform: translateY(0px) translateX(-50%); 
  }
    #carousel div.next {
      z-index: 5;
      left: 70%;
      transform: translateY(50px) translateX(-90%); 
  }
      #carousel div.next img {
        width: 500px;
      }
    #carousel div.nextRightSecond {
      z-index: 4;
      left: 87%;
      transform: translateY(80%) translateX(-14%);
      opacity: .7; 
  }
      #carousel div.nextRightSecond img {
        width: 400px; 
        height: 400px;
      }
  #prev{
      position: absolute;
      margin-left: 10%;
      color: black;
      transform: translateX(-50);
      bottom: 10rem;
      width: 5rem;
      height: 8rem;
      background-color: transparent;
      border: transparent;
      border-radius: 0.5rem;
      transition: 0.25s;
      font-size: 4rem;
  }
  #prev:hover{
      background-color: gray;
      opacity: 0.5;
  }
  #next{
      position: absolute;
      margin-left: 85%;
      color: black;
      transform: translateX(-50);
      bottom: 10rem;
      width: 5rem;
      height: 8rem;
      background-color: transparent;
      border: transparent;
      border-radius: 0.5rem;
      transition: 0.25s;
      font-size: 4rem;
  }
  #next:hover{
      background-color: gray;
      opacity: 0.5;
  }


  .carousel-text {
    position: absolute;
    z-index: 1;
    top: 0;
    color: white;
    height: 86.5%;
    padding: 30px 50px 50px 20px;
    width: 300px;
    border-radius: 2% 0% 0% 2%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }

  .carousel-text h3{
    padding: 0px 0px 30px 0px;
  }


  .decouvrir{
    padding: 1rem 2rem 2rem 5rem;
    margin-top: 5rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 251px;
    height: 62px;
    color: #000000;
    font-family: Bebas Neue;
    text-decoration: none;

  }


/* Styles pour les écrans de taille réduite (tablette) */
@media (max-width: 768px) {
  .bottom .billeterie {
      width: 100%; /* Utilisez 100% de la largeur de l'écran */
      padding: 10px; /* Ajoutez un espacement autour du bouton */
      font-size: 24px; /* Réduisez la taille de la police */
  }

  .billeterie img {
      margin-left: 10px; /* Réduisez l'espacement entre l'image et le texte */
  }

  /* Ajoutez d'autres règles CSS spécifiques aux écrans de taille réduite si nécessaire */
}

/* Styles pour les écrans de taille très réduite (smartphones) */
@media (max-width: 480px) {
  .bottom .billeterie {
      font-size: 20px; /* Réduisez davantage la taille de la police */
  }

  .billeterie img {
      margin-left: 5px; /* Réduisez encore l'espacement entre l'image et le texte */
  }

  /* Ajoutez d'autres règles CSS spécifiques aux écrans de taille très réduite si nécessaire */
}


/* EVENEMENT */


.evenements{
  position: relative;
  margin-bottom: 100px;
}


.events-list .cinema_button {
  background: transparent;
  border: none;
  margin-top: 190px;
  margin-left:250px ;
  
  


}

.events-list .all_events_button{
  background: transparent;
  border: none;
  margin-top: 100px;
  color: white;
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.5%; 
  margin-left: 20px; 
  text-align: left;
  


}




.events-list .all_events_button img{
  margin-top: 80px;
  margin-left: 170px;
  


}

.events-list article,
.events-list .all-events-block {
  background: black;
  color: white;
  flex: calc(33.33% - 10px);
}


.events-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 700px;
  

}

.events-list article:nth-child(1) {
  background-image: url(../images/images_index/event_cinema.webp);
  
}


.events-list article:nth-child(2) {
  background-image: url(../images/images_index/event_spectacle.webp);
}

.events-list article:nth-child(3) {
  background-image: url(../images/images_index/event_prix.webp);
}

.events-list article:nth-child(4) {
  background-image: url(../images/images_index/event_lecture.webp);
}

.events-list article:nth-child(4) {
  background-image: url(../images/images_index/event_rendez_vous.webp);
}


@media screen and (max-width: 1010px) {
  .events-list {
      flex-direction: column;
      width: 800px;
      height: 800px;
      flex-wrap: nowrap;
      margin-bottom: 100px;
      gap: 15px;

      


  }

  .events-list .cinema_button {
    background: transparent;
    border: none;
    margin-top: 10px;
    margin-left:700px ;
    
    
    
  
  
  }

  .events-list .all_events_button{
    display: none;

  }


}



.cinema {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    
}

.cinema img{
    margin-right: 30px;
    
}




/* NOS MUSEES */

/* NOS MUSEES */

.museum {
    padding-top: 85px;
    padding-bottom: 143px;
    background-color: black;
    
    
 }
 
 .museum button {
   

   align-items: center;
   display: flex;
   background-color: black;
   color: #ffffff;
   border-radius: 8px;
   border: 1px solid #FFF;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px; 
   margin-bottom: 200px;
   width: 251px;
   height: 62px;
   flex-shrink: 0;
   color: #FFF;
   font-family: Bebas Neue;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal; 
   justify-content: center;
 }
 
 .museum button img {
   display: flex;
   height: 40px;
   width: 40px;
   margin-left: 25px;
   
 }
 
 .container-text-museum-right {
    max-width : 960px;
    margin-left : auto;
    margin-right : auto;
    padding-left: 54px;
    padding-right:70px;
    line-height: 33px;
 }
 .container-text-museum-left {
    max-width : 960px;
    margin-left : auto;
    margin-right : auto;
    padding-left: 70px;
    padding-right:54px;
    line-height: 33px;
    text-align: right;
 }
 .text-museum {
    padding-bottom: 17px;
    padding-top: 22px;
 }
 
 
 .texte1 {
   display: flex;
   margin-top: 20px;
   margin-right: auto;
   margin-left: auto;
   width: 90%;
   margin-bottom:20px ;
 }

 .texte1 img{
  width: 623px;
  height: 100%;


  
}

 
 
 .texte2 {
   display: flex;
   margin-top: 20px;
   margin-right: auto;
   margin-left: auto;
   width: 90%;
   
   
   
 }


 .texte2 img{
  width: 618px; 
  height: 700px;
  
  
  
  
}
 
 
 .texte3 {
   display: flex;
   margin-top: 20px;
   margin-right: auto;
   margin-left: auto;
   width: 90%;
   
   
 }
 



/* RESTAURANT */

.restaurant{
    max-width: 1910px;
    margin-left: auto;
    margin-left: auto;
  }
  
  .restaurant .container-1{
    background-image: url('../images/images_index/restaurant_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
  }
  
  .restaurant .restaurant-informations{
    max-width: 33.33%;
    height: 36.3rem;
    background-color: rgba(0, 0, 0, 0.50 );
    color: #ffffff;
    padding: 30px;
    backdrop-filter: blur(3px);
  }
  
  .restaurant h2{
    background-color: #000;
    color: #fff;
    padding-bottom: 2rem;
  }
  
  .restaurant .restaurant-informations h3{
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .restaurant .restaurant-informations p{
    margin-bottom: 7rem;
  }
  
  .restaurant-informations a{
    color: #FFF;
  }
  
  .restaurant-informations a:hover{
    color: #a0a0a0;
    text-decoration: none;
  }
  
/* NOUS SOUTENIR */

/* Pour les écrans de petite taille (moins de 768px) */
@media screen and (max-width: 767px) {
    .hide {
        display: none
    }
    .img3 {
        width: 134px;
        height: 221px;
    }
    .img2{
        width: 134px;
        height: 221px;
    }
    .title-Dev{
        font-size: 20px;
    }

    }

.container {
    max-width:1080px;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
}


.sustainus .title {
   padding-top: 130px;
   padding-bottom: 71px;
}

.title-Dev {
   padding-bottom :115px;
   font-size: 26px;
   margin-left : auto ;
   margin-right: auto ;
   display: flex;
   justify-content: center;
   align-items: center;
}
.text-SustainUs {
    flex: 50%;
}
.paragraphes-SustainUs{
   line-height: 35px;
   padding-bottom: 26px;
   padding-top: 26px;
}
.center {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
}
.images{
    flex: 50%;
    position: relative;
}
.imagestop{
    display: flex;
    align-items :flex-end;
    gap: 20px;
}
.imagesbottom{
    display: flex;
    align-items :center;
    padding-top: 22px;
    gap: 20px;

}
.img1{
    width: 332px;
    height: 223px;
}
.img2{
    width: 219px;
    height: 185px;
}
.img3{
    width: 222px;
    height: 307px;
}
.img4{
    width: 330px;
    height: 217px;
}

.sustainus button{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    border-radius: 8px;
    width: 251px;
    height: 62px; 
    color: white; 
    text-align: center;
    font-family: Bebas Neue;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    padding-left: 15px;
    margin-bottom: 20px;
   
}

.sustainus button img{
    height: 30px;
    width: 45px;
    margin-left: 10px;

}









/* COMMENT S'Y RENDRE ? */

/* Style pour la classe .centermap */
.centermap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    
  }
  
  /* Style pour les conteneurs de carte (éléments avec la classe .map-container) */
  .map-container {
    flex: 0 0 calc(33.333% - 20px); 
    margin: 0 10px; 
  }
  
  /* Style pour les cartes (éléments avec la classe .map) */
  .map {
    margin-bottom: 20px;
  }
  
  /* Style pour l'élément address */
  address {
    font-style: normal;
    margin-bottom: 1rem;
  }
  
  /* Style pour les adresses strong dans l'élément address */
  address strong {
    font-weight: bold;
    color: #333;
  }
  

/* FOOTER */

#scrollUp{
margin: 3rem;
}

body {
display: block;
overflow-x: hidden;
margin: 0px;
}

h4{
font-size: 30px;
font-style: bold;
text-decoration: underline;
}

.bottom .billeterie {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 8px;
  background: var(--or, #AB721C);
  width: 200px;
  height: 50px;
  padding: 10px 19px 10px 10px;
  color: #FFF;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  text-emphasis: none;
  
}


.billeterie img {
  width: 39px;
  height: 39px;
  margin-left: 15px;
}



.invisible {
display: block;

}

.bottom{
display: flex;
justify-content: space-between;
align-items: center;
}

.bottom a {
text-decoration: none;
}

/* fond */
.site-footer {
  background-color: black;
  padding: 20px;
  color: rgb(182, 182, 182);
  border-radius: 2rem 2rem 0rem 0rem;
  
}

.site-footer b{
font-style: normal;
color: rgb(255, 255, 255);
}

.site-footer p, b{
font-style: ita;
color: rgb(182, 182, 182);
}

.row{
margin-right: 15rem;
margin-bottom: 5rem;
}

.top, .bottom {
  display: flex;
  padding: 0px;
}

.site-footer h4 {
  color: #ffffff;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #b4b4b4;
  font-style: 'Roboto';
}

.site-footer a:hover {
  font-style: bold;
  color: #ffffff;
  text-decoration: none;
}

/* espace */

.space{
padding: 3rem 0rem 0rem 0rem;
}

/* social */

.horaire {
  font-style: normal;
}

.social{
border-left: 2px solid #ffffff;
padding: 35px 20px 0px 40px;

}

.social .single-social {
display: flex;
align-items: center;
justify-content: space-between;
}

.social .single-social .content {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}

.content p{
color: #ffffff;
}

.social a.instagram,
.social a.youtube,
.social a.facebook,
.social a.twitter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 1.3rem;
  text-decoration: none;
  display: flex;
  transition: all 1s ease-out;
}

.social .bxl-facebook,
.social .bxl-twitter,
.social .bxl-instagram,
.social .bxl-youtube {
  display: flex;
  font-size: 2rem;
  transition: all 1s ease-out;
}

/* btn espacement */
.social i.bxl-facebook,
.social i.bxl-twitter,
.social i.bxl-instagram,
.social i.bxl-youtube {
  border-radius: 100%;
  padding: 10px;
  transition: all 1s ease-out;
  margin-right: 0px;
}



/* hover / animation */
.social i.bxl-facebook:hover {
  background-color: #3b5998;
}

.social i.bxl-twitter:hover {
  background-color: #00aced;
}

.social i.bxl-instagram:hover {
  background-color: #f331c5;
}

.social i.bxl-youtube:hover {
  background-color: #ff0000;
}

/* hover / animation */

.social i.bxl-facebook:hover{
background-color:#3b5998;
}

.social i.bxl-twitter:hover{
background-color:#00aced;
}

.social i.bxl-instagram:hover{
background-color:#f331c5;
}

.social i.bxl-youtube:hover{
background-color:#ff0000;

}

.single-social p {
margin-left: 100px;
padding: 30px;
}


.single-social::before, .single-social::after {
content: "";
width: 100px;
background-color: #a9a9a9;
height: 1px;
display: block;

}

/* Style pour le conteneur du copyright */
.copyright-text {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}



/* Pour les écrans de petite taille (moins de 768px) */
@media (max-width: 767px) {
.top {
  flex-direction: column;
  align-items: center;
}
.row {
  margin-right: 0;
}
.social{
  border-top: 1px solid #ffffff;
  border-left: transparent;
  padding: 20px 0px 40px;
}

.single-social{
  font-size: 1.2rem;
}


}

/* Pour les écrans de taille moyenne (entre 768px et 991px) */
@media (min-width: 768px) and (max-width: 991px) {
.top {
  flex-direction: column;
}
.row {
  margin-right: 5rem;
}
.social{
  border-top: 2px solid #ffffff;
  border-left: transparent;
  padding:  20px 0px 40px;
}

.single-social{
  font-size: 1.2rem;
}

.single-social::before, .single-social::after {
  content: "";
  width: 500px;
  background-color: #a9a9a9;
  
}

.single-social::after{
  margin-left: 4rem;
}

}

@media (min-width: 1191px) {
.top {
  flex-direction: column;
  align-items: center;
}
.row {
  margin-right: 5rem;
}
.social{
  border-top: 3px solid #ffffff;
  border-left: transparent;
}

.single-social{
  font-size: 1.3rem;
}


}

/* Pour les écrans de grande taille (plus de 1200px) */
@media (min-width: 1200px) {
.top {
  flex-direction: row;
}
.row {
  margin-right: 15rem;
}

.social{
  border-top:transparent ;
  border-left: 3px solid #ffffff;
  padding: 20px 40px;
}

.single-social{
  font-size: 1.3rem;
}


}

/* fin footer */






.carou {

  contain:content
}

.carou .buttons{
  margin-top: -300px;

  
}


#carousel {
    position: relative;
    height: 37.5rem;
    margin-top: 25%;
    transform: translateY(-50%);
    overflow: hidden; 
}
    #carousel div {
      position: absolute;
      transition: transform 1s, left 1s, opacity 1s, z-index 0s;
      opacity: 1; 
    }
      #carousel div img {
       
        height: 37.5rem;
        width: 37.5rem;
        border-radius: 0.5rem;
        transition: 1s; 
    }
      #carousel div.hideLeft {
        left: 0%;
        opacity: 0;
        transform: translateY(50%) translateX(-50%); 
    }
        #carousel div.hideLeft img {
          width: 200px; 
        }
      #carousel div.hideRight {
        left: 100%;
        opacity: 0;
        transform: translateY(50%) translateX(-50%); 
    }
        #carousel div.hideRight img {
          width: 200px; 
        }
      #carousel div.prev {
        z-index: 5;
        left: 30%;
        transform: translateY(50px) translateX(-10%); 
    }
        #carousel div.prev img {
          width: 500px; 
        }
      #carousel div.prevLeftSecond {
        z-index: 4;
        left: 13%;
        transform: translateY(50%) translateX(40%);
        opacity: .7; 
    }
        #carousel div.prevLeftSecond img {
          width: 400px; 
          height: 400px;
        }
      #carousel div.selected {
        z-index: 10;
        left: 50%;
        transform: translateY(0px) translateX(-50%); 
    }
      #carousel div.next {
        z-index: 5;
        left: 70%;
        transform: translateY(50px) translateX(-90%); 
    }
        #carousel div.next img {
          width: 500px;
        }
      #carousel div.nextRightSecond {
        z-index: 4;
        left: 87%;
        transform: translateY(50%) translateX(-140%);
        opacity: .7; 
    }
        #carousel div.nextRightSecond img {
          width: 400px; 
          height: 400px;
        }
    #prev{
        position: absolute;
        margin-left: 10%;
        color: black;
        transform: translateX(-50);
        bottom: 10rem;
        width: 5rem;
        height: 8rem;
        background-color: transparent;
        border: transparent;
        border-radius: 0.5rem;
        transition: 0.25s;
        font-size: 4rem;
    }
    #prev:hover{
        background-color: gray;
        opacity: 0.5;
    }
    #next{
        position: absolute;
        margin-left: 85%;
        color: black;
        transform: translateX(-50);
        bottom: 10rem;
        width: 5rem;
        height: 8rem;
        background-color: transparent;
        border: transparent;
        border-radius: 0.5rem;
        transition: 0.25s;
        font-size: 4rem;
    }
    #next:hover{
        background-color: gray;
        opacity: 0.5;
    }